body {
    background: lightpink url('pinkcloud.jpg');
    background-size: cover;
    background-repeat: repeat;
    color: beige;
}

header {
  position: relative;
  height: 300px;
}

.header-content {
  position: relative;
  z-index: 1;
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 3rem;
}
nav {
    display: absolute;
    justify-content: center;
}

nav ul {
    background-color: #fad0c4;
}

.nav-icon {
    position: relative;
    margin: 0 30px;
    text-align: center;
}

.nav-icon a {
    text-decoration: none;
    color: rgb(240, 12, 12);
    font-size: 24px;
}

.nav-icon i {
      transition: color 0.3s;
}

.nav-icon a:hover i {
      color: #ffccff;
}

.tooltip {
      visibility: hidden;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 8px;
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      transition: opacity 0.3s;
      font-size: 14px;
}

.nav-icon:hover .tooltip {
      visibility: visible;
      opacity: 1;
}

nav ul {
    display: flex;
    gap: 50px;
}

.messages {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a6c1ee);
    padding: 10px;
    border-radius: 16px;
    color: rgb(202, 24, 24);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: larger;
}

button {
    border: 3px solid #db2d61;
    padding: 5px 5px;
    border-radius: 10px 10px;
}

