body {
    background: linear-gradient(to bottom, #070508, #a60eb4);
    font-family: Arial, sans-serif;
    margin: 0;
    }

header, footer {
    background: linear-gradient(to bottom, #db2d61, #e86ff3);
    padding: 20px;
    text-align: center;
    color: #ccffff;
}

.recite {
    font-size: larger;
}

.content {
    display: flex;
    min-height: 80vh;
}

main {
    background: linear-gradient(to bottom, #794094, #e86ff3);
    padding: 30px;
    margin: 40px auto;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    color: #faf8f8;
    font-size: 1.15rem;
    text-align: center;
}

.table-main {
    background: linear-gradient(to bottom, #794094, #e86ff3);
    padding: 10px;
    margin: 40px auto;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    color: #faf8f8;
    font-size: 2rem;
    text-align: center;
}
caption {
    font-size: larger;
}

aside {
    flex: flex;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to bottom, #ffccff, #ccffff);
}

footer {
    background-color: #401546;
    color: #ccffff;
}

.quran-welcome {
    background: linear-gradient(to bottom, #db699b, #e86ff3);
    padding: 30px;
    margin: 40px auto;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    color: #f8f7f7;
    font-size: 1.15rem;
    text-align: center;
}

.quran-welcome h2 {
    font-size: 2rem;
    color: #f8f5f6;
    margin-bottom: 15px;
}

button {
    border: 3px solid #db2d61;
    padding: 5px 5px;
    border-radius: 10px 10px;
}

table, th, td {
    border: 1px solid;
    padding: 5px 5px;
    margin: auto;
}

.surah-section {
    background-color: #eec2e7;
    padding: 40px;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.05);
    text-align: center;
}

.surah-section h2 {
    font-size: 2rem;
    color: #e75480;
    margin-bottom: 30px;
}

.ayah {
    margin-bottom: 30px;
}

.arabic {
    font-size: 1.8rem;
    direction: rtl;
    font-family: 'Scheherazade', serif;
    color: #222;
    margin-bottom: 5px;
}

.translit {
    font-style: italic;
    color: #555;
}

.meaning {
    font-size: 1rem;
    color: #444;
    margin-top: 5px;
}
